<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
        </title>
    <style>  
	#ac  
	   {  
		  background:url(img/i2.jpg); background-repeat:no-repeat;
	   }
	#ac:hover
	   {
		  background:url(img/i4.png);
	   }
		 </style>
        <link rel="stylesheet" href="css/my.css" />
            <link rel="stylesheet" href="jquery.mobile-1.2.0.min.css"
        />
        	<link rel="stylesheet" href="css/jquery-mobile.css" />
	<script src="js/jquery.js"></script>
	<script src="js/jquery-mobile.js"></script>
        <script src="js/my.js">
        </script>
    </head>
    
    
    <body>
       <div data-role="page" style="background:url(img/imag.png) ;background-repeat:no-repeat;" >
   <div data-role="header" style="background:url(img/i2.png); background-repeat:no-repeat;">
        <div style=" text-align:center;">
                  <img style="width: 200px; height: 90px;" src="img/iconfinder-logo.png"></span>
                </div>
    </div>
    <div data-role="content">
        <div style="">
            <img style="width: 300px; height: 150px" src="img/fstg.png">
        </div>
        <div>
            <p>
                <span style="color: rgb(0, 128, 0);">
                    <em>
                        <strong>
                            Adresse
                        </strong>
                    </em>
                </span>
                :Faculté des Sciences et Techniques, Boulevard Abdelkrim Al Khattabi Marrakech,
                Maroc.
                <br>
            </p>
            <p>
                <strong>
                    <span data-mce-style="color: #008000;" style="color: rgb(0, 128, 0);">
                        <em>
                            E-mail:
                            <span data-mce-style="overflow: hidden; line-height: 0px;" style="overflow: hidden; line-height: 0px;"
                            id="mce_12_start" data-mce-type="bookmark">
                                ﻿
                            </span>
                        </em>
                    </span>
                </strong>
                <span data-mce-style="color: #008000;" style="color: rgb(0, 128, 0);">
                    <em>
                        <span data-mce-style="color: #000000;" data-mce-bogus="1" style="color: rgb(0, 0, 0);">
                            <span data-mce-style="overflow: hidden; line-height: 0px;" style="overflow: hidden; line-height: 0px;"
                            id="mce_12_start" data-mce-type="bookmark">
                                Th
                            </span>
                        </span>
                    </em>
                </span>
                <span data-mce-style="overflow: hidden; line-height: 0px;" style="overflow: hidden; line-height: 0px;"
                id="mce_12_start" data-mce-type="bookmark">
                    eFinder@gmail.com.
                </span>
                <br>
            </p>
            <p>
                <span style="color: rgb(0, 128, 0);">
                    <em>
                        <strong>
                            Tel:
                        </strong>
                    </em>
                    <span data-mce-style="color: #000000;" style="color: rgb(0, 0, 0);">
                        (+212)618274558.
                    </span>
                </span>
                <br>
            </p>
            <p>
                <span style="color: rgb(0, 128, 0);">
                    <span data-mce-style="color: #000000;" style="color: rgb(0, 0, 0);">
                        <em data-mce-bogus="1">
                            <strong data-mce-bogus="1">
                                <span style="color: rgb(0, 128, 0);">
                                    Fax
                                </span>
                                :(+212)603354789
                            </strong>
                        </em>
                        <br>
                    </span>
                </span>
            </p>
                   <div class="exemple">

   <div class="basic" id="12_1"></div>

   <div class="basic" id="8_2"></div>
</div>
    </div>
            <p>
                <span style="color: rgb(0, 128, 0);">
                    <span data-mce-style="color: #000000;" style="color: rgb(0, 0, 0);">
                        <br>
                    </span>
                </span>
            </p>
        </div>
 
<div  data-role="footer" data-position="fixed">
              <div data-role="navbar" data-iconpos="top" data-theme="a">
                <ul>
                    <li>
                        <a href="index.php" data-transition="fade" data-theme="" data-icon="home" id="ac">
                            Accueil
                        </a>
                    </li>
                    <li>
                        <a href="contact.php" data-rel="dialog" data-transition="fade" data-theme="" data-icon="custom" id="ac">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="about.php" data-rel="dialog" data-transition="fade" data-theme="" data-icon="info" id="ac">
                            A propos
                        </a>
                    </li>
                </ul>
            </div>
        </div>
       
       
<body>
</body>
</html>
