<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
        </title>
 <style>  
   #ac
	  {
		  background:url(img/i2.jpg); background-repeat:no-repeat;}
		  #ac:hover
		  { background:url(img/i4.png);
		  }</style>
            <link rel="stylesheet" href="jquery.mobile-1.2.0.min.css"
        />
        	<link rel="stylesheet" href="css/jquery-mobile.css" />
	<script src="js/jquery.js"></script>
	<script src="js/jquery-mobile.js"></script>
         <link rel="stylesheet" href="css/finder.css" />
        <link rel="stylesheet" href="css/my.css" />
       
        <script src="js/my.js">
        </script>
    </head>
    
    <body>
        <div data-role="page" style="background:url(img/Black%20Background%20Wood%20-%202560x1600%20by%20Freeman.jpg); background-repeat:no-repeat;" >
            <div data-role="header" style="background:url(img/i2.png); background-repeat:no-repeat;">
               <a data-rel="back" data-icon="back" >Back</a>
            <h1>Actualité</h1>  
			{if $tr==1}
				<a href ="deconnexion.php" rel="external"> Déconnexion </a>        
            {/if}
			 {if $tr==2}
				<a href ="deconnexion2.php" rel="external"> Déconnexion </a>         
            {/if}			
            </div>

            <div data-role="content" >
				{if $smarty.session.nv==0}
					<a href="#"  class="link"> <input type="button" value="Vous avez {$smarty.session.nv} nouveaux conocurs" data-theme="f" disabled="disabled"></a><br> {else}
					<a href="actualite_c.php"  class="link"> <input type="button" value="Vous avez {$smarty.session.nv} nouveaux conocurs" data-theme="f"></a><br>     
				{/if}
           
		   		{if $smarty.session.nve==0}
					<a href="#" class="link"> <input type="button" value="Vous avez {$smarty.session.nve} nouveaux  emplois" data-theme="f" disabled="disabled"></a><br> {else}
					<a href="actualite_e.php"  class="link"> <input type="button" value="Vous avez {$smarty.session.nve} nouveaux  emplois" data-theme="f"></a><br>   
				{/if}

				{if $smarty.session.nvf==0}
					<a href="#" class="link"> <input type="button" value="Vous avez {$smarty.session.nvf} nouveaux  formations" data-theme="f"  disabled="disabled"></a><br>   
				{else}
					<a href="actualite_f.php"  class="link"> <input type="button" value="Vous avez {$smarty.session.nvf} nouveaux  formations" data-theme="f"></a><br>  
				{/if}

				{if $smarty.session.nvs==0}
					<a href="#" class="link"> <input type="button" value="Vous avez {$smarty.session.nvs} nouveaux  stages" data-theme="f" disabled="disabled"></a><br>   
				{else}
					<a href="actualite_s.php" class="link"> <input type="button" value="Vous avez {$smarty.session.nvs} nouveaux stages" data-theme="f"></a><br>   
				{/if}
			</div>
<div  data-role="footer" data-position="fixed">
              <div data-role="navbar" data-iconpos="top" data-theme="a">
                <ul>
                    <li>
                        <a href="index.php" data-transition="fade" data-theme="" data-icon="home"  id="ac">
                            Accueil
                        </a>
                    </li>
                    <li>
                        <a href="contact.php" data-rel="dialog" data-transition="fade" data-theme="" data-icon="custom"  id="ac">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="about.php" data-rel="dialog" data-transition="fade" data-theme="" data-icon="info"  id="ac">
                            A propos
                        </a>
                    </li>
					
                </ul>
            </div>
        </div>
</div>       
<body>
</body>
</html>
