<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Ajout avec Success</title>
	<style>  
		#ac
		  {	  
		  background:url(img/i2.jpg); background-repeat:no-repeat;}
		#ac:hover
		  { background:url(img/i4.png);
		  }
	</style>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="jquery.mobile-1.2.0.min.css"/>
			<link rel="stylesheet" href="css/jquery-mobile.css" />
			<script src="js/jquery.js"></script>
			<script src="js/jquery-mobile.js"></script>
</head>

<body>
	<div data-role="page">
		 <div data-role="header" style="background:url(img/i2.png); background-repeat:no-repeat;">
			<h1>Connexion</h1>
		 </div>
		<p align="center">Votre inscription a été bien réussite</p>
        <p align="center"><a href="index.php" rel="external">Retour à l'aceuil</a></p>
		<div data-role="footer" >
			<h1> développé par the finder </h1>
		</div>
	</div>
</body>
</html>