<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Ajout avec Success</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
</head>


<body>
  <div data-role="page">
		<div data-role="header">
			<h1>Connexion</h1>
		</div>
		<p align="center">Une erreur c'est produite! Nous allons la fixée dans les délais les plus courts</p>
        <p align="center"><a href="index.php">Retour à l'aceuil</a></p>
		<div data-role="footer" >
		<h1> développé par the finder </h1>
		</div>
</div>
</body>
</html>