<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Login Page</title>
<script>
 function page1 ()
{
var f = document.getElemenetById(form1);
f.action = "page1.php"
}
</script>

</head>
<body>
<p>Formulaire de connexion</p>
<form action="page1.php" method="post">
    Login : <input type="text" name="username" value="" /><br />
    Login : <input type="password" name="password" value="" /><br />
    <input type="submit" value="envoyer" >
</form>

</body>
</html>
